
<div hx-target="this" hx-swap ="outerHTML" class ="py-5" >
<div class = "container">

<h1>New Podcast</h1>

{control podcastForm}



<div><button class ="btn btn-info" hx-get = "{link Podcast:tablecontents}">Back to Podcasts</button></div>
</div>
</div>
